<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">

    <title>Users</title>
</head>

<body>

    <header>

        <nav>
            <ul>
                <li><a href="/users/add-users">Add Users</a></li>
                <li><a href="/">Show Users</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <h1>List of Users</h1>
        <p>Here is the list of the registered users</p>
    </main>

</body>

</html>